.cat-nav-container {
  background-color: gray;
  max-width: 100%;
  border-top: #444444 solid 1px;

  .list-items {
    list-style-type: none;
    display: inline-block;
    margin: 0.2em 1em;
    padding: 0.4em;
    height: 2.5em;
    color: white;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
