.product-card {
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 3px 1px 14px 0px lightgray;
  border-radius: 0.6em;
  align-items: center;
}
.product-image-container {
  display: flex;
  justify-content: center;
  img {
    border-radius: 0.4em;
  }
}

.product-details {
  a {
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
  }
}
.products-container {
  display: flex;
  flex-wrap: wrap;
}
